* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #13010f;
}

/*barra de navegacion*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #A10082;
    padding: 0.5% 1%;
}

nav div{
    display: flex;
    align-items: center;
}

nav div input{
    width: 40%;
}

.logout-btn{
    margin-left: 10%;
}
  
.close-button {
    display: flex;
    margin: 0px 14px 0px 15px;
    color: white;
    border: none;
    padding: 10px 4px;
    border-radius: 12px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
}

/* Estilos para el contenedor del menu (oculto por defecto en pantallas pequeñas) */
.menu-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #A10082;
    width: auto;
    text-align: center;
    padding: 20px 0;
    z-index: 10;
}

.sections {
    position: relative;
    z-index: 5;
}
/* Mostrar el menú cuando la clase 'active' esté presente */
.menu-content.active {
    display: flex;
}

/* Estilos generales para el botón de hamburguesa */
.close-button {
    display: flex;
    margin: 0px 14px 0px 15px;
    color: white;
    border: none;
    padding: 10px 4px;
    border-radius: 12px;
    background-color: transparent;
    transition: background-color 0.3s;
}
.close-button img.active {
    content: url('../img/HMenuX.svg');
}

/* Mostrar en pantallas grandes */
@media (min-width: 768px) {
    .menu-content {
        display: none;
        position: absolute;
        flex-direction: column;
        background-color: #A10082;
        width: auto;
        padding: 0;
        right: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .menu-content.active {
        display: flex;
        background-color: #440026;
        top: 66px;
        width: 220px;
        right: 1127px;
        border-radius: 0px;
        height: 240;
        padding: 2px;
    }
    ul li a {
        text-decoration: none;
        color: wheat;
    }
    ul li {
        list-style-type: none;
        margin: 10px 10px 10px 0px;
    }
    ul {
        width: 200px;
        text-align: justify;
        padding: 20px;
    }

    /* No ocultar en pantallas grandes */
    .close-button {
        display: flex;
    }
}


/*fin barra de navegacion*/


.sections {
    color: white;
    margin: 4% 0 0 4% ; 

}


.conteiner-products {
    display: flex;          
    overflow-x: auto;        
    gap: 20px;
    padding: 2%;  
    overflow: hidden;           
}

.card {
    flex: 0 0 auto;         
    width: 210px;           
    height: 200px;          
    border-radius: 15px;
    padding-bottom: 0.5%;
}

.card img {
    width: 100%; 
    height: 115px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;

}

.conteiner-info {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 10%;
    padding: 5% 0% 0% 8%;
    justify-content: space-between;
    margin-right: 9%;
}

.card .conteiner-info h3{
    font-size: 90%;
}

.card button {
    font-family: 'Expletus Sans', sans-serif;
    font-weight: bold;
    border-radius: 10px;
    width: 85%;
    height: 20px;
    border: none;
    display: block;
    margin: 0 auto ;
}

.cardFree .card{
    background-color: #FFE659;
    box-shadow: 0 4px 9px #AE9504;
}

.cardFree .card img{
    box-shadow: 0 4px 6px rgba(95, 89, 5, 0.3);
}

.cardFree .card .conteiner-info {
    color: #13010f;
    margin-bottom: 3%;
}

.cardFree .conteiner-info h3{
    text-shadow: 0 4px 6px rgba(95, 89, 5, 0.3);/*hacer lo mismo con add, added y play*/
}

.cardFree .card button{
    background-color: #FFD900;
    box-shadow: 0 4px 9px rgba(95, 89, 5, 0.3);
}

.cardAdd .card {
    color: rgb(255, 255, 255);
    background-color: #ED4ECE;
    box-shadow: 0 4px 9px #8d0273;
}

.cardAdd .card img{
    box-shadow: 0 4px 9px #A10082
}

.cardAdd .card button {
    color: rgb(255, 255, 255);
    background-color: #A10082;
    box-shadow: 0 4px 6px rgba(89, 2, 94, 0.3);
}

.cardAdd .card h5{
    font-size: 73%;
} 

.cardAdded .card {
    color: rgb(255, 255, 255);
    background-color:#6d0758;
    box-shadow: 0 4px 9px #4B013D

}

.cardAdded .card img{
    box-shadow: 0 4px 9px #4B013D
}

.cardAdded .card button {
    color: rgb(255, 255, 255);
    background-color: #4B013D;
    box-shadow: 0 4px 6px rgba(73, 1, 77, 0.3);
}

.cardAdd .conteiner-info h3,
.cardAdded .conteiner-info h3 {
    font-weight: 500;  
}

.cardPlay .card {
    background-color: #FF80C8;
    box-shadow: 0 4px 6px rgba(154, 1, 87, 0.7); 
}

.cardPlay{
    padding-bottom: 1%;
}
.cardPlay .card img {
    box-shadow: 0 4px 9px rgba(148, 22, 93, 0.7); 
}

.cardPlay .card button{
    background-color: #FF0090;
    color: rgb(255, 255, 255);
    box-shadow: 0 4px 9px #CB0675;
}


.menu-icon {
    font-size: 24px;
    color: dark;
    cursor: pointer;
}

#search {
    width: 500px;
    height: 34px;
    color: white;
    padding-right: 35px;
    border-radius: 28px;
    background-color: #4B013D;
    background-image: url(img/Lupa.svg);
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px; 
}
#search::placeholder {
    color: white;
    opacity: 1;
}
#logout-btn {
    font-family: "DM Sans", system-ui;
    display: flex;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    text-align: center;
    background-color: #4B013D;
    border-radius: 10%;
    width: 154px;
    height: 32px;
    padding: 7px 0px 18px 49px
}

.search-btn, .logout-btn {
    background-color: #4B013D;
    font-family: 'DM-sans', sans-serif;
    color: white;
    padding: 9px;
    border: none;
    border-radius: 14px;
    width: 139px;
    height: 34px;
}

.games-section {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    width: 100%;
    gap: 4%;
}
.carousel-track {
    width: 100%;
    margin: 0 2%;
    display: flex;
    position: relative;
    overflow: hidden; 
}

#search {
    width: 500px;
    height: 34px;
    color: white;
    padding-right: 35px;
    border-radius: 28px;
    background-color: #4B013D;
    background-image: url('../img/Lupa.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px; 
    border: none;
    padding: 0px 0px 0px 20px;
}

#search::placeholder {
    color: white;
    opacity: 1;
}

.carousel {
    display: flex;
    flex-wrap: nowrap; 
    width: auto; 
    transition: transform 0.5s ease-in-out; 
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1;

}

.prev{
    left: 10px;
}

.next{
    right: 10px;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}

/*footer*/
footer {
    display: flex;
    justify-content: space-between;
    background-color: #4B013D;
    padding: 2% 0;
    padding-left: 6%;
}

footer div {
    width: 15%;
    color: white;
    text-align: left;

}

footer div h4{
    margin-bottom: 10%;
}

footer div p{
    opacity: 40%;
}

/*fin del footer*/






