body{
    margin: 0;
    margin-left: 110px;
    font-family: 'Lato', sans-serif;
}


.fondo1{
    transform: translateY(4px);
    width: 1080px;
 
}
.fondo2{
    height: 1000px;
    width: 1080px;
    background-image: url("../img/fondo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
}
.fondo2 h1, h4{
    background-color: none;
    margin: 0;
    width: 400px;
    color: rgba(27, 66, 143, 1);
    margin-left: 100px;
    font-size: 40px;

}

.fondo2 h4{
    width: 600px;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 6px;

}
.fondo3{
    margin: 612px 0px 0px 0px;
    height: 1000px;
    width: 1080px;
    background-image: url('../img/Rectangle\ 26.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 250px;
}
.content-general{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 446px;
    transform: translateY(-728px);
    text-align: left;
}
.text-img{
    margin-top: 220px;
}
.imgIzq{
    width: 21%;
    height: 46%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/image\ 13.png');
}
.imgCenter{
    background-repeat: no-repeat;
    width: 21%;
    height: 46%;
    background-size: cover;
    background-image: url('../img/image\ 8.png');;
}
.imgRight{
    background-repeat: no-repeat;
    width: 21%;
    height: 46%;
    background-size: cover;
    background-image: url('../img/image\ 24.png');
}
.card {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 0.6s ease, transform 0.6s ease; /* Animación suave */
}
.card.show {
    opacity: 1; /* Hace visible */
    transform: translateY(0); /* Vuelve a su posición original */
}
.conteiner-5, .container-nro4 {
    flex: 0 1 auto; /* Permite que los contenedores mantengan su tamaño */
}

.container-numeros{
    display: flex;
    width: 1080px;
}

.container-nro4{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin-top: 30px;
    height: 50px;
}
.container-nro4 .cardprincipal{
    margin-left: 300px;
    width: 500px;
} 
.conteiner-img{
    display: flex;
    justify-content: space-between;
    height: 1000px;
}

.conteiner-img .nroC4{
    margin-top: 140px;
    width: 40%;
    transform: scaleX(-1);
    position:absolute;
}
.conteiner-5{
    margin: 0;
    width: 50%;
    overflow: hidden;
}

.conteiner-5 .nro5{
    margin-left: 5%;
    height: 1100px;
    width: 110%;
  
}



.content-button{
    display: flex;
    position: absolute;
    margin-top: 10px;
    left: 100px;
    top: 8px;
    z-index: 22;
    width: 100px;
    height: 100px;
}
/* Header común */
.header {
    display: flex;
    width: 1080px;
    z-index: 24;
}



.nav {
  background: linear-gradient(to bottom, rgba(0, 209, 213, 1), rgba(0, 209, 213, 0.12), rgba(1, 208, 213, 0));
  z-index: 22;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  position: fixed;
  height: 100px;
  width: 1080px;
}



.btn-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 55px;
    height: 50px;
    border: 0;
    background: transparent;
    cursor: pointer;

}

.btn-menu div{
    
    border: 5px solid white;
    background-color: orange;
    box-shadow: 4px 4px 0px rgb(1, 1, 85);
    height: 9px;
    width: 100%;
    border-radius: 50px;
    transition: all .5s;
    transform-origin: left;
}

.btn-menu.active div:first-child{
    transform: rotate(38deg);
    box-shadow: none;
}

.btn-menu.active div:nth-child(2){
    opacity: 0;
}

.btn-menu.active div:last-child{
    transform: rotate(-38deg);
    box-shadow: none;
}

ul , li {
    margin-bottom: 10px;
}
.lista_items {
    display: none;
}
.lista-activa {
    z-index: 22;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 62px;
    left: 30px;
}
.lista-activa li {
    background-color: rgb(247, 247, 247);
    list-style-type: none;
    padding: 10px;
    width: 140px;
    border-radius: 6px;
    animation: aparecerLi 1s ease forwards;
    opacity: 0;
}
.lista-activa li:nth-child(1){
    animation-delay: 0ms;
}
.lista-activa li:nth-child(2){
    animation-delay: 2s;
}
.lista-activa li:nth-child(3){
    animation-delay: 4s;
}
.content-ul{
    display: none;
}
.content-ul-active{
    border-radius: 10px;
    background-color: aqua;
    width: 150px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-btn-comprar {
    display: flex;
    background-repeat: no-repeat;
    justify-content: flex-end;
    position: absolute;
    top: 16px;
    left: 800px;
    z-index: 1;
}

@keyframes aparecerLi {
    0% {transform: translateX(-100%);
        opacity: 0;
    }
    100%{transform: translateX(0);
        opacity: 1;
    }
}

/*@keyframes scroll {
    0% {background-position-x: 0px;}
    100% {background-position-x: -1080;}
}*/

@keyframes fadeInUp {
    0% {opacity: 0;
        transform:translateY(150px)}
    100% {opacity: 1;
          transform: translateY(0);}
}

.layer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    animation: scroll 100s forwards linear;
}
.layer-1 {
    width: 100%;
    background-image: url('Entregable4/img/ff.png');
}
.layer-3 {
    z-index: 6;
    top: 50px;
    left: 710px;
    width: 490px;
    height: 763px;
    background-image: url('../img/arbol\ 2.png');
    animation: fadeInUp 6s ease forwards;
}
.layer-4 {
    z-index: 20;
    width: 380px;
    height: 880px;
    left: 110px;
    background-image: url('../img/arbol\ 1.png');
    animation: fadeInUp 6s ease forwards;
}
.layer-5 {
    z-index: 2;
    top: 60px;
    left: 64vh;
    width: 500px;
    height: 300px;
    background-image: url('../img/logo\ 1.svg');
    background-size: contain;
    background-repeat: no-repeat;
    animation: fadeInUp 2s ease forwards;
    transition: top 0.5s ease-in-out, transform 1s ease-in-out;
}

.layer-5.reducirTamanio{/*logo*/
    position: fixed;
    z-index: 1000;
    top: -30px; 
    width: 300px;
    height: 130px;
    left: 84vh;
    top: 1px;
}

  
.layer-6 {
    top: 270px;
    z-index: 4;
    width: 235px;
    left: 952px;
    height: 500px;
    background-image: url('../img/arbol\ 3.svg');
    animation: fadeInUp 3s ease forwards;
}
.layer-7 {
    z-index: 5;
    top: 757px;
    width: 230px;
    left: 133px;
    height: 106px;
    background-image: url('../img/Vector\ \(5\).png');
    animation: fadeInUp 6s ease forwards;
    animation: scroll 60s forwards linear;
}
.layer-8 {
        z-index: 20;
        position: absolute;
        width: 152px;
        height: 100px;
        left: 110px;
        top: 800px;
        background-image: url('../img/VectorPiedra\ \(1\).png');
        background-size: cover;
        transform: translateX(-10px);
        transition: transform 0.5s ease;
}
.contenedor{
        z-index: 20;
        position: absolute;
        width: 152px;
        height: 100px;
        left: 100px;
        top: 600px;
        background-color: yellowgreen;
        transform: translateX(-10px);
        transition: transform 0.5s ease;
}
    
    
.layer-9 {
    z-index: 6;
    width: 114px;
    height: 100px;
    left: 890px;
    top: 730px;
    background-image: url('../img/VectorPiedra\ \(2\).png');
    animation: fadeInUp 10s ease forwards;
    animation: scroll 60s forwards linear;
    background-size: cover;
    transform: translateX(-10px);
    transition: transform 0.5s ease;
}
.layer-10 {
    z-index: 11;
    width: 143px;
    height: 94px;
    left: 224px;
    top: 830px;
    background-image: url('../img/Vector\ \(3\).png');
    animation: fadeInUp 12s ease forwards;
    animation: scroll 60s forwards linear;
    background-size: cover;
    transform: translateX(-10px);
    transition: transform 0.5s ease;
}
.layer-12 {
    z-index: 6;
    left: 1047px;
    top: 732px;
    height: 105px;
    width: 159px;
    background-image: url('../img/VectorPiedra\ \(1\).png');
    animation: fadeInUp 10s ease forwards;
    animation: scroll 60s forwards linear;
    background-size: cover;
    transform: translateX(-10px);
    transition: transform 0.5s ease;
}
.layer-11 {
    z-index: 6;
    left: 950px;
    top: 750px;
    height: 105px;
    width: 159px;
    background-image: url('../img/VectorPiedra\ \(1\).png');
    animation: fadeInUp 10s ease forwards;
    animation: scroll 60s forwards linear;
    background-size: cover;
    transform: translateX(-10px);
    transition: transform 0.5s ease;
}
.layer-12 {
    z-index: 14;
    left: 441px;
    top: 496px;
    height: 232px;
    width: 216px;
    background-image: url('../img/11.svg');
    animation: fadeInUp 6s ease forwards;
    animation: scroll 60s forwards linear;
    background-size: cover;
    transform: translateX(-50px);
    transition: transform 0.5s ease;
}
.layer-13 {
    z-index: 10;
    left: 531px;
    top: 413px;
    height: 261px;
    width: 212px;
    background-image: url('../img/2.png');
    animation: fadeInUp 10s ease forwards;
    animation: scroll 50s forwards linear;
    background-size: cover;
    transform: translateX(-50px);
    transition: transform 0.5s ease;
}
.layer-14 {
    z-index: 10;
    left: 688px;
    top: 346px;
    height: 361px;
    width: 216px;
    background-image: url('../img/33.svg');
    animation: fadeInUp 2s ease forwards;
    animation: scroll 50s forwards linear;
    background-size: cover;
    transform: translateX(-50px); 
    transition: transform 0.5s ease;
}
.layer-15 {
    z-index: 5;
    left: 990px;
    top: 679px;
    height: 92px;
    width: 200px;
    background-image: url('../img/Vector.png');
    animation: fadeInUp 6s ease forwards;
    animation: scroll 50s forwards linear;
    background-size: cover;
    transform: translateX(-50px);
    transition: transform 0.5s ease;
}
.layer-16 {
    z-index: 2;
    left: 980px;
    top: 613px;
    height: 108px;
    width: 210px;
    background-image: url('../img/Vector.png');
    animation: fadeInUp 4s ease forwards;
    animation: scroll 50s forwards linear;
    background-size: cover;
    transform: translateX(-50px);
    transition: transform 0.5s ease;
}
.layer-17 {
    z-index: 1;
    width: 152px;
    height: 100px;
    left: 955px;
    top: 606px;
    background-image: url('../img/Vector\ \(3\).png');
    animation: fadeInUp 4s ease forwards;
    animation: scroll 50s forwards linear;
    background-size: cover;
    transform: translateX(-50px);
    transition: transform 0.5s ease;
}
.layer-18{
    z-index: 31;
    width: 208px;
    height: 94px;
    left: 462px;
    top: 673px;
    background-image: url('../img/Ellipse\ 2.svg');
    animation: fadeInUp 5s ease forwards;
    animation: scroll 50s forwards linear;
    background-size: cover;
    transform: translateX(-50px);
    transition: transform 0.5s ease;
}
.layer-19 {
    z-index: 31;
    width: 208px;
    height: 94px;
    left: 688px;
    top: 648px;
    background-image: url('../img/Ellipse\ 4.svg');
    animation: fadeInUp 5s ease forwards;
    animation: scroll 50s forwards linear;
    background-size: cover;
    transform: translateX(-50px); /* Asegura que la imagen cubra el área */
    transition: transform 0.5s ease;
}
.layer-20 {
    z-index: 31;
    width: 140px;
    height: 67px;
    left: 600px;
    top: 672px;
    background-image: url('../img/Ellipse\ 3.svg');
    animation: fadeInUp 5s ease forwards;
    animation: scroll 50s infinite linear;
    background-size: cover;
    transform: translateX(-50px); /* Asegura que la imagen cubra el área */
    transition: transform 0.5s ease;
}
